
.camboya-background {
    background-image: url(../html/continents-content/asia/camboya/camboya-background.jpeg);
}

.indonesia-background {
    background-image: url(../html/continents-content/asia/indonesia/indonesia-background.jpg);
}

.rusia-background {
    background-image: url(../html/continents-content/europe/rusia/rusia-background.jpg);
}

.marruecos-background {
    background-image: url(../html/continents-content/africa/marruecos/marruecos-background.jpg)
}

.tanzania-background {
    background-image: url(../html/continents-content/africa/tanzania/tanzania-background.jpg);
}
